{{!< default}}
      
<main class="gh-main gh-outer">
    <div class="gh-inner">

          <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">Table of Content</h1>
        </section>
          
        {{#if @custom.enter_tag_slugs_for_secondary_sections}}
            {{#get "tags" limit="all" filter="slug:-[featured, popular]"}}
                {{#if tags}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-toc-minimal"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-toc-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    </div>
</main>
